*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
}
@media (max-width: 800px){
    body{
        flex-direction: column;
    }
}
/* main document */
#main-doc{
    padding: 1em;
    margin: 5px;
}
h1{
    font-size: 2em;
    padding-bottom: 1em;
}
h2{
    font-size: 1.5em;
    padding: 1em 0;
}
p{
    margin-left: 15px;
    margin-bottom: 10px;

}
code{
    background-color:antiquewhite;
    display: block;
    margin: 1em 0 1em 15px;
    padding: 1em;
}
li{
    list-style-type:circle;
    margin: 15px 0 0 20 px;
}

/* navbar */
#navbar{
    min-width: 290px;
    border-right: 1px solid black;
}
#navbar h1{
    margin: 2rem 1rem;
}
#navbar ul{
    padding-inline-start: 0;
}
#navbar li{
    display: block;
    border-top: 1px solid black;
    padding: 1rem;
}
@media (max-width: 800px ){
    #navbar li:last-of-type{
        border-bottom: 1px solid black;
    }
}

#navbar li a {
    color: black;
    text-decoration: none;
}