/* --------------- GENERAL containers ------------ */
body, 
main{
    display: flex;
}
body{
    flex-direction: column;
    line-height: 1.3;
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
    width: 100%;
}
main{
    flex-direction: row;
    flex:auto;
    padding: 0;
}
article{
    flex:2;
    overflow-y: auto;
    background-color: white;
}

aside{
    flex:1;
    overflow-y: auto;
}

section {
    width: max(60%, 500px);
    margin: 0 auto;
  }
  @media (max-width:800px){
    section{
        width: 70%;
    }
  }
  @media (max-width:500px){
    section{
        width: 100%;
    }
  }


  h1 {
    color: #92721c !important;
    font-size: min(6vw, 3em);
    text-align: center;
    margin-top:0;
    margin-bottom: 40px;
  }
  
  h1,
  h2, 
  h3,
  a {
    font-family: Verdana, Tahoma;
  }
  
  h2 {
    margin: 0 auto 10px auto;
    line-height: 1.2em;
    font-size: 1.3rem;
    font-weight: 800;
  }

h3{
    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
  }

.image{
    display: block;
    max-width:100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 20px;
    margin: auto;
}
p{
    line-height: 1.5em;
    width: 100%;
}
.link{
    text-decoration: none;
    text-align: center;
    padding:10px 20px;
    background-color: #92721c;
    color: white;
    border-radius: 20px;
}

.link-container{
    text-align: center;
    margin:auto;
    padding: 30px 0;
}
.bold{
    font-weight: bold;
}
.bglight{
    background-color: #FAFAFA;
    width: 100%;
    margin:0;
}
a{
    color: #92721c;
    font-weight: 600;
}

/* ----------------- header ------------ */
header{
    border-color:#92721c ;
    background-color: black;
}
header a{
 color: white;
}
header li a{
text-transform: uppercase ;
}
#logo{
    width: 170px;
}

@media (max-width: 500px){
    #logo{
        width: 120px;
    }
    header li a{
        margin: 0 5px;
        text-transform: capitalize;
    }
}

/* --------------home -------------- */
.more{
    width: 100%;
}

.more h2, 
.cameos h2 {
    text-align: center;
    padding: 40px 0 30px 0;
}


.row{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col{
    width: 45%;
}
.col60{
    width: 60%;
}
.col35{
    width: 35%;
}
@media (max-width: 800px){
    .col{
     width: 70%;
     margin: auto;
    }
}

/*-------- tweets and links ------------- */

.page-link{
    padding: 40px 0;
}
.tweet{
    padding-bottom: 30px;
}
.page-link ul li{
    list-style-type: square;
}

/* ---------------- MOVIES ----------------- */
.movies-container{
    width: 100%;
}
.movies>p {
    margin-bottom: 40px;
}
.movies-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;;
}
.movie{
    width: 30%;
    /* border: 1px solid #92721c; */
    margin-bottom: 40px;
}

.movie-title{
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}
.movie-link{
    padding:10px 0;
    color: #92721c;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}
.movies-container p{
    padding-left: 5px;
    padding-right: 5px;
}

@media (max-width: 1024px){
    .movie{
        width: 100%;
    }
}


/* --------------- FOOTER ------------ */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}
footer a{
    color: white;
}