*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5em;
    color: #1a2520;
}
body{
    margin: 0;
}
.freecodecamp-container,
.holberton-container,
.skills-container{
    padding: 4rem 0;
}
.freecodecamp-container h2,
.holberton-container h2,
.skills-container h2{
    margin-top: 0;
    padding-bottom: 20px;
    text-align: center;
}
section{
    max-width: 60%;
    margin: auto;
}
@media (min-width: 501px) and (max-width: 882px){
    section{
        max-width: 70%;
    } 
}
@media (max-width: 500px){
    section{
        max-width: 90%;
    } 
} 
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
.item{
    flex:1;
    border: 1px solid #597d6e;
    padding: 0.5rem;
    min-width: 250px;
    background-color: white;
    box-shadow: 4px 4px 3px 1px #597d6e;
}
.row::after{
    content:"";
    flex:1;
    min-width: 250px;
    padding: 0.5rem;
}

/* header and footer */

.hero, 
footer{
    text-align: center;
    background-color: #597d6e; 
    color: white;
}
.hero h1{
    color: white;
}
.hero{
    padding: 5rem;
}
footer{
    padding: 1rem;
    font-size: 0.95rem;
}
footer address{
    color: inherit;
}

.project-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 20px;
    margin: auto;
}

/* ---------------- holberton ------------------- */
.holberton-container{
    background-color: rgb(223, 230, 227);
}