* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 1.5rem;;
  }
  
  .grid {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    list-style-type: none;
    border-radius: 0.5rem;
  }

  @media (max-width: 1000px) {
    .grid { grid-template-columns: repeat(4, 1fr); }
  }
  

  @media (max-width: 700px) {
    .grid { grid-template-columns: repeat(3, 1fr); }
  }
  
  .cell {
    display: block;
    width: 6rem;
    height: 6rem;
    background-color: hsl(0, 0%, 90%);
  }
  
  .border-around {
    border: 2px dotted red;
  }
  