*{
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------------------------Header ----------------------------- */
header{
    background-color: rgb(11, 10, 10);
    color: white;
    position: fixed;
    top:0;
    width: 100%;
    border-radius: 0 0 20px 20px;
}
h1{
    text-align: center;
    padding: 20px 0;
}

/* ------------------------Image ----------------------------- */

#image-section{
    margin-top: 100px;
    padding-top: 0px;
    padding-bottom: 40px;
    text-align: center;

}

#image{
    display: block;
    max-width:100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 20px;
    margin: auto;
}

#img-caption{
 font-size: 0.9rem;
}

/* ------------------------Films ----------------------------- */

#tribute-info{
    width: 70%;
    margin: auto;
    background-color: #E9E9E9;
    padding: 30px 20px;
    border-radius: 20px;
}

#tribute-info h2{
    text-align: center;
    padding-bottom: 20px;
}

#tribute-info li{
    list-style-type:square;
    padding-bottom: 10px;
}
#tribute-info li:last-child{
    padding-bottom: 30px;
}

#tribute-info p::before{
    content:"🪶  ";
}

/* ------------------------Footer ----------------------------- */
#footer{
    padding: 20px;
    background-color:  rgb(11, 10, 10);
    color: white;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
}
#footer p{
    max-width: 70%;
    margin: auto;
}
#footer a{
    color: #E9E9E9;
}
